@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
  font-size: 14pt;
}

ul > li.active {
  font-weight: bold;
  cursor: pointer;
  font-size: 16pt;
}

ul > li > ul {
  font-weight: normal;
}
