@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
  font-size: 14pt;
}

ul > li:hover {
  cursor: pointer;
  font-weight: bold;
}

ul > li > ul {font-weight: normal;}
